h1,h2,h3{
    text-align: center;
}

h1{
    font-size: 3.4em;
    margin: 0;
    font-family: "Stack Sans Notch";
    background: linear-gradient(135deg, #C3721A, #7C1723);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: default;
  -webkit-text-fill-color: transparent;
}

h2, h3{
    font-family: 'inter';
    margin: 10px 0;
    color: #f0ede5;
}

h2{
    font-size: 2.2em;
    font-weight: 500;
}

h3{
    font-size: 1.2em;
    font-weight: 300;
}

.container {
    width: 98.9vw;
    opacity: 0;
    animation: fadeIn 1s ease-out 0.3s 1 forwards;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

hr{
    width: 70%;
    margin: 30px auto;
    border: 1px solid #f0ede5;
}

.grid {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 30px;
    row-gap: 30px;
}

.item{
    background-color: #f0ede5;
    border-radius: 30px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "inter";
    border: 2px solid #961B2B;
    filter: drop-shadow(0 0 5px #961B2B);
    transition: all 0.5s ease-in-out;
    background: linear-gradient(135deg, #212529, #26262a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: default;
  -webkit-text-fill-color: transparent;
}

.item:hover{
    transform: translateY(-10px) translateX(-3px);
    border-color: #F0C808;
    filter: drop-shadow(0 0 2px #CF8816);
    cursor: pointer;
    background-image: linear-gradient(45deg, #961B2B, #F0C808);
    animation: Pulse 2s ease-in-out infinite forwards;
    color: black;
}

.item:nth-child(2n):hover{
    transform: translateY(-10px) translateX(3px);
   
}

@keyframes Pulse {
    0%{
        filter: drop-shadow(0 0 2px #F0C808);
    }20%{
        filter: drop-shadow(0 0 5px #F0C808);
    }40%{
        filter: drop-shadow(0 0 2px #F0C808);
    }80%{
        filter: drop-shadow(0 0 5px #F0C808);
    }100%{
        filter: drop-shadow(0 0 2px #F0C808);
    }
    
}

.exit{
    position: absolute;
    top: -10vh;
    right: 0;
    width: 7vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C3721A;
    border-radius: 1000px;
    font-size: 25px;
    text-align: center;
    color: #000;
    transition: all 0.4s ease-in-out;
    filter: drop-shadow(0 3px 3px #000);
    cursor: pointer;

}

.exit:hover{
    color: #f0ede5;
    background-color: #961B2B;
    transform: translateY(-5px);
    filter: drop-shadow(0 5px 5px #000);
}

.inf-container{
    position: absolute;
    background-color: #f0ede5;
    width: 0;
    height: 0;
    top: 80vh;
    left: 50vw;
    border-radius: 100000000000px;
    filter: drop-shadow( 0 0 10px #F0C808);
    animation: popUp 0.2s ease-out 1 forwards;
    
}

@keyframes popUp {
    0%{
        width: 0;
        height: 0;
        display: none;
        border-radius: 1000px;
    }
    100%{
        height: 85vh;
        width: 90vh;
        border-radius: 10px;
        display: block;
        top: 10vh;
        left: 28.5vw;
        z-index: 10000;
    }
}

.close-container{
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 0 9px 0 10px;
    background-color: #C3721A;
    color: #f0ede5;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.close-container:hover{
    background-color: #961B2B;
}
